   
   <div th:fragment="footer">
   
   <footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Retour au sommet</a>
    </p>
    <p class="mb-1">L'exemple d'album est © Bootstrap, mais veuillez le télécharger et le personnaliser par vous-même !</p>
    <p class="mb-0">Nouveau sur Bootstrap ? <a href="/">Visitez la page d'accueil</a> ou lisez notre <a href="/docs/5.2/getting-started/introduction/">Guide de Démarrage</a>.</p>
  </div>
</footer>

</div>